@page "/bookingConfirmation"

 <style>
        .dialog-box {
            display: block;
            position: fixed;
            top: 25%;
            left: 30%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #4caf50;
            color: black;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 999;
        }
    </style>
    <h3 style="font-family:Bahnschrift">Thank you..!</h3>

    <div class="dialog-box">
        <h4>Appointment booking successful..!</h4>
    </div>