@page "/"

<PageTitle>Home</PageTitle>



<img src="img/IndexHMS.jpg" alt="Background Image" class="bg-image">

<h2>Welcome Guest...!</h2>
<style>
    body {
        margin: 0;
        padding: 0; 
    }
    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1; 
    }
    h2{
      font-family:Bahnschrift;
    }
</style>
