@page "/contact"

<div class="container">
    <h2>08 Purnagiri Kalony Chakarpur Khatima<br />
        Uttarakhand - 262308
        contact : staff@medicare.com  +91 76899 098907
    </h2>
</div>

<img src="ContactPage.jpg" alt="Background Image" class="bg-image">


<style>
    body {
        margin: 0;
        padding: 0;
    }

    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .container{
        font-family:Bahnschrift;
        margin-top:40%;
    }
</style>
